<% content_for :head do -%>
  <%= javascript_pack_tag 'documents' %>
<% end -%>

<div id="vue-app">
  <form-document
    v-bind:document="<%= document.to_json(except: [:created_at, :updated_at]) %>"
  >
  </form-document>
</div>
